a {
  color: inherit;
}

button {
  background: none;
  border: none;
  padding-left: 20px;
}

button:hover {
  color: blue;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
